* {
  /* max width for content container */
  --main-width: 800px;
  /* homepage background */
  --code-bg: #fffefe;
  /* post background */
  --theme: #fffefe;
  /* used by cards in /posts/ */
  --entry: #fefefe;
}

.main {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.post-content h3,
.post-content h2,
.post-content h4 {
  font-family: "Libre Baskerville", serif;
  margin: 50px auto 24px;
}

.logo a {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 28px;
}

header.header {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: 52px 0 0 0;
}

/* /search/ */
#searchbox input {
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
}

/* post cards on homepage */
.first-entry .entry-header h2,
.post-entry .entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
}

.first-entry,
.post-entry {
  font-family: "Libre Baskerville", serif;
}

.first-entry .entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.first-entry .entry-footer {
  color: var(--secondary);
  font-size: 13px;
}

.first-entry {
  min-height: 0px;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  border: 1px solid var(--border);
}

.first-entry:active {
  transform: scale(0.96);
}
